.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: #0D1321;
  }

  /* shared design */
 .text-opacity{
    opacity: 0.7;
 }

  /* nav title */
  .nav{
    margin: 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  .nav-title{
    font-size: 28px;
    font-weight: bolder;
  }
  .nav-btn{
    border-radius: 8px;
    padding: 17px 24px;
    font-size: 20px;
    font-weight: semi-bold;
  }
  /* header banner */
  .banner{
    height: 652px;
    background-image: url("../assets/Hero-bg.png");
  }
  .banner-description{
    padding-top: 26px;
    width: 998px;
    margin: 0 auto;
    text-align: center;  
  }

  .banner-title{
    font-size: 48px;
    font-weight: extra-bold;    
  }
  .banner-description{
    padding: 24px 0 32px 0;
  }

  .contact-btn{
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: semi-bold;
    padding: 21px 24px;
    background-color: #0D1321;
    border-style: none;
  }


  /* main section start */
    .dev-section{
        height: 1394px;
        text-align: center;
        margin: 74px 150px 90px 150px;
        background-color: rgba(13, 19, 33, 0.02);
    }
    .section-start{
        margin: 80px 97px;
    }
    .section-title{
        padding-top: 80px;
        font-size: 32px;
        font-weight: extra-bold;
        
    }
    .describe-card{
        margin-top: 48px;
        display: flex;
        justify-content: space-around;
        text-align: left;
        background-color: white;
        border-radius: 16px;
        padding: 48px;
    }
    .describe-part-title{
      width: 390px;
      font-size: 24px;
      font-weight: bold;
      
    }
    .describe-part-description{
      width: 468px;
    }
    .describe-part-btn{
      padding: 12px 20px;
      font-size: 20px;
      font-weight: semi-bold;
      border: 1px solid  black;
    }
    /* inspiration section */
    .inspiration-section{
      /* height: 1394px; */
      text-align: center;
      margin: 74px 150px 90px 150px;
      /* background-color: rgba(13, 19, 33, 0.02); */
  }
  .youtube-video{
    margin-top: 48px;
    border-radius: 16px;
    /* border: 1px solid #0D1321; */
    padding: 32px 32px;
    background-color:  rgba(13, 19, 33, 0.02);
  } 
  .youtube-video-iframe{
    width: 100%;
    height: 550px;
    border-radius: 16px;
  }